@media screen and (max-width: 991px) {
    .navbar {
        .navbar-logo {
            height: auto;
            margin: 0 0 0 0;
            position: static;
            width: 60px;
            z-index: 999;
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        .navbar-logo {
            height: auto;
            margin: -25px 0 0 0;
            position: absolute;
            width: 90px;
            z-index: 999;
        }
    }
}