.home-carousel {
    figure {
        margin: 0;
    }
}

.features {
    text-align: center;

    .feature {
        @media screen and (max-width: 767px) {
            margin-top: 40px;
            z-index: 9999;
        }

        @media screen and (min-width: 768px) {
            margin-top: -200px;
            z-index: 9999;
        }

        a.club-button {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        hr {
            background-image: linear-gradient(to right, $color1, $color0, $color0, $color0, $color1);
            border: 0;
            height: 2px;
            /*margin: 0 0 0 0;*/
        }
    }
}

.home-shop-now-container {
    background-color: #ffffff;

    .shop-now{
        background-image: url('../img/home-shop-now.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;

        .shop-now-text {
            margin-top: 3em;
            opacity: 0.85;
            text-align: center;
        }

        hr {
            background-image: linear-gradient(to right, $color1, $color0, $color0, $color0, $color1);
            border: 0;
            height: 2px;
            /*margin: 0 0 0 0;*/
        }
    }
}

.sponsors {
    vertical-align: middle;
    
    img {
        margin: auto 0 auto 0;
        max-width: 150px;
        max-height: 150px;
    }
}