body {
    background: $color0;
    color: $color3;
    font-family: $font-default;
}

.btn-primary {
    background-color: $color0;
    border-color: $color0;
}

a.club-button, a.club-button:active, a.club-button:link, a.club-button:visited {
    border-radius: 40px;
    display: block;
    max-width: 200px;
    padding: 8px 30px 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

a.club-button-left {
    margin: 0px auto 0px 0px;
}

a.club-button-center {
    margin: 0px auto 0px auto;
}

a.club-button-right {
    margin: 0px 0px 0px auto;
}

a.club-button-1 {
    background-color: transparent;
    border: 1px solid $color0;
    color: $color0;
}

a.club-button-1:hover {
    background-color: $color0;
    color: $color1;
}

a.club-button-2 {
    background-color: $color1;
    border: 1px solid $color1;
    color: $color2;
}

a.club-button-2:hover {
    background-color: transparent;
    color: $color1;
}

a.club-button-3 {
    background-color: $color0;
    border: 1px solid $color0;
    color: $color1;
}

a.club-button-3:hover {
    background-color: $color1;
    color: $color0;
}

button.icon-button, button.icon-button:active, button.icon-button:hover, button.icon-button:link, button.icon-button:visited {
    color: $color3 !important;
    padding: 0;
}

h1 {
    font-family: $font-headings;
    font-weight: 200;
}

h2 {
    font-family: $font-headings;
    font-weight: 200;
}

h2.column-title {
    font-family: $font-headings;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 200;
}
@media (min-width: 1200px) {
    h2.column-title {
        font-size: 2.5rem;
    }
}

h3 {
    font-family: $font-headings;
    font-weight: 200;
}

h4 {
    font-family: $font-headings;
    font-weight: 200;
}

h5 {
    font-family: $font-headings;
    font-weight: 200;
}

h6 {
    font-family: $font-headings;
    font-size: 1.25em;
    font-weight: 200;
    margin: 0 0 0 0;
}

p.synopsis {
    font-family: $font-headings;
    font-size: 1.25em;
    font-weight: 200;
}

.accordion-header {
    .accordion-button {
        background-color: $color5;
    }

    .collapsed {
        background-color: $color1;
    }   
}

.blockquote {
  border-left: 2px solid $color3; /* Bootstrap’s gray-600 */
  padding-left: 1rem;             /* space between line and text */
  margin-left: 0;                 /* optional: align with container */
}

.content-1 {
    background-color: $color1;
}

.content-4 {
    background-color: $color4;
}

.content-5 {
    background-color: $color5;
}

.content-block {
    padding-top: 3em;
    padding-bottom: 3em;
}

.content-feature {
    padding-top: 1em;
    padding-right: 1.2em;
    padding-bottom: 1em;
    padding-left: 1.2em;
}

.page-padding {
    padding-top: 4em;
    padding-bottom: 3em;
}

.content-pad-t{
    padding-top: 3em;
}

.content-pad-b {
    padding-bottom: 3em;
}

.easyfundraising {
    padding: 1em 0;
    .small-banner {
        p {
            margin: 0;
            padding: 0;
        }
        .generate-text {
            p {
                color: $color1;
                font-size: 1.1em;
                font-weight: 200;
                text-align: center;
            }
        }
    }
}

.google-maps {
    height: 0;
    overflow: hidden;
    padding-bottom: 75%; // This is the aspect ratio
    position: relative;
    
    iframe {
        height: 100% !important;
        left: 0;
        position: absolute;
        top: 0;
        width: 100% !important;
    }
}
