.people {

    h4 {
        margin-bottom: 0px;
    }

    figure {
        margin-top: 0 !important;
        padding: 0;
    }

    .photo {
        img {
            border-radius: 50%;
            min-width: 150px;
            width: 150px;
        }
        
    }
}