@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@media screen and (max-width: 991px) {
  .navbar .navbar-logo {
    height: auto;
    margin: 0 0 0 0;
    position: static;
    width: 60px;
    z-index: 999;
  }
}
@media screen and (min-width: 992px) {
  .navbar .navbar-logo {
    height: auto;
    margin: -25px 0 0 0;
    position: absolute;
    width: 90px;
    z-index: 999;
  }
}
.advert-before {
  color: #dfdfdf;
  margin: 0 0 0.5em 0;
  line-height: 2em;
  padding: 0;
  font-size: 0.7em;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.advert-before:before, .advert-before:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-left: -999em;
  height: 1px;
  width: 998em;
  border-top: 1px solid #dfdfdf;
  background: rgba(0, 0, 0, 0.2);
}

.advert-before:after {
  left: auto;
  width: 999em;
  margin: 0 0 0 1em;
}

.advert-after {
  border-top: 1px solid #dfdfdf;
  height: 1px;
  margin: 0.75rem 0 0 0;
}

.home-carousel figure {
  margin: 0;
}

.features {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .features .feature {
    margin-top: 40px;
    z-index: 9999;
  }
}
@media screen and (min-width: 768px) {
  .features .feature {
    margin-top: -200px;
    z-index: 9999;
  }
}
.features .feature a.club-button {
  margin-top: 2em;
  margin-bottom: 2em;
}
.features .feature hr {
  background-image: linear-gradient(to right, #ffffff, #92d884, #92d884, #92d884, #ffffff);
  border: 0;
  height: 2px;
  /*margin: 0 0 0 0;*/
}

.home-shop-now-container {
  background-color: #ffffff;
}
.home-shop-now-container .shop-now {
  background-image: url("../img/home-shop-now.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 650px;
}
.home-shop-now-container .shop-now .shop-now-text {
  margin-top: 3em;
  opacity: 0.85;
  text-align: center;
}
.home-shop-now-container .shop-now hr {
  background-image: linear-gradient(to right, #ffffff, #92d884, #92d884, #92d884, #ffffff);
  border: 0;
  height: 2px;
  /*margin: 0 0 0 0;*/
}

.sponsors {
  vertical-align: middle;
}
.sponsors img {
  margin: auto 0 auto 0;
  max-width: 150px;
  max-height: 150px;
}

body {
  background: #92d884;
  color: #4d4d4d;
  font-family: "PT Sans", sans-serif;
}

.btn-primary {
  background-color: #92d884;
  border-color: #92d884;
}

a.club-button, a.club-button:active, a.club-button:link, a.club-button:visited {
  border-radius: 40px;
  display: block;
  max-width: 200px;
  padding: 8px 30px 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

a.club-button-left {
  margin: 0px auto 0px 0px;
}

a.club-button-center {
  margin: 0px auto 0px auto;
}

a.club-button-right {
  margin: 0px 0px 0px auto;
}

a.club-button-1 {
  background-color: transparent;
  border: 1px solid #92d884;
  color: #92d884;
}

a.club-button-1:hover {
  background-color: #92d884;
  color: #ffffff;
}

a.club-button-2 {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #06B503;
}

a.club-button-2:hover {
  background-color: transparent;
  color: #ffffff;
}

a.club-button-3 {
  background-color: #92d884;
  border: 1px solid #92d884;
  color: #ffffff;
}

a.club-button-3:hover {
  background-color: #ffffff;
  color: #92d884;
}

button.icon-button, button.icon-button:active, button.icon-button:hover, button.icon-button:link, button.icon-button:visited {
  color: #4d4d4d !important;
  padding: 0;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

h2 {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

h3 {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

h4 {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

h5 {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

h6 {
  font-family: "Heebo", sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  margin: 0 0 0 0;
}

p.synopsis {
  font-family: "Heebo", sans-serif;
  font-size: 1.25em;
  font-weight: 200;
}

.accordion-header .accordion-button {
  background-color: #c8ebc1;
}
.accordion-header .collapsed {
  background-color: #ffffff;
}

.content-1 {
  background-color: #ffffff;
}

.content-4 {
  background-color: #dfdfdf;
}

.content-5 {
  background-color: #c8ebc1;
}

.content-block {
  padding-top: 3em;
  padding-bottom: 3em;
}

.content-feature {
  padding-top: 1em;
  padding-right: 1.2em;
  padding-bottom: 1em;
  padding-left: 1.2em;
}

.page-padding {
  padding-top: 4em;
  padding-bottom: 3em;
}

.content-pad-t {
  padding-top: 3em;
}

.content-pad-b {
  padding-bottom: 3em;
}

.easyfundraising {
  padding: 1em 0;
}
.easyfundraising .small-banner p {
  margin: 0;
  padding: 0;
}
.easyfundraising .small-banner .generate-text p {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 200;
  text-align: center;
}

.google-maps {
  height: 0;
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;
}
.google-maps iframe {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}

.page-header-image figure {
  margin: 0 !important;
}

.people h4 {
  margin-bottom: 0px;
}
.people figure {
  margin-top: 0 !important;
  padding: 0;
}
.people .photo img {
  border-radius: 50%;
  min-width: 150px;
  width: 150px;
}

.post-list a,
.post-list a:active,
.post-list a:hover,
.post-list a:visited {
  text-decoration: none;
  color: #4d4d4d;
}
.post-list h3 {
  margin: 0 0 0 0 !important;
  text-decoration: none;
}
.post-list img.post-stacked {
  padding-bottom: 0.6rem;
}
.post-list p.post-datetime {
  font-size: 0.8rem;
}
.post-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.single-post .featured-image {
  padding-bottom: 1rem;
}
.single-post h1 {
  margin: 0 0 0 0 !important;
  text-decoration: none;
}
.single-post p.post-datetime {
  font-size: 0.8rem;
}

.footer {
  padding: 1em 0 1em 0;
}
.footer p {
  margin: 0;
}
.footer .affiliates {
  text-align: center;
}
.footer .affiliates img {
  margin: 0 1em 1em 0;
}
.footer .affiliates img.jra {
  width: 120px;
}
.footer .affiliates img.malone {
  width: 180px;
}
.footer .affiliates .small-logo {
  height: 50px;
}
.footer .affiliates .medium-logo {
  height: 85px;
}
.footer .copyright {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  margin: 10px 0 10px 0;
  padding: 15px 0 0 0;
  text-align: center;
}
.footer .follow-icons {
  font-size: 1.3em;
  list-style-type: none;
  margin: 0.5em 0 0 0;
  padding: 0;
}
.footer .follow-icons li {
  display: inline-block;
  vertical-align: top;
}
.footer .follow-icons li a:active, .footer .follow-icons li a:hover, .footer .follow-icons li a:link, .footer .follow-icons li a:visited {
  color: #4d4d4d;
  text-decoration: none;
}
.footer .useful-links {
  text-align: right;
}
.footer .useful-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */